a {
  color: maroon;
}

h1 {
    font-family: 'Special Elite', cursive;
    margin-top: .5em;
}

h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin-top: 1em;
}

h1 {
    font-weight: bold;
}